<div class="container">
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div>
      <label for="user" class="form-label">Usuario</label>
      <input type="text" name="user" id="user" formControlName="user" class="form-control">
    </div>
    <div>
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" name="password" id="password" formControlName="password" class="form-control">
    </div>
    <button class="btn btn-success mt-3">Login</button>
  </form>
</div>
