<div class="container">
  <form [formGroup]="formSignUp" (ngSubmit)="onSubmit()">
    <div *ngFor="let item of inputData">
      <app-label-input
        [data]="item"
        [control]="formSignUp.get(item.name)"
      ></app-label-input>
    </div>
    <button class="btn btn-primary mt-3">Registrarse</button>
  </form>
</div>
